@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bodyColor: "#f1f5f9"
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--bodyColor);
  font-family: Arial, Helvetica, sans-serif;
}

.text-gradient {
  background: linear-gradient(90deg, #1c4c9f 80%, #2a71f0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-light {
  background: linear-gradient(90deg, #2a71f0, #2a71f0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head-gradient {
  background: linear-gradient(180deg, #009f, #000a2d, #001354 80%, #002f6c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}